.Carousel__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 100vh;
}

.Carousel__item img {
  position: absolute;
  z-index: -1;
  height: 100vh;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
}

.Carousel__text {
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Carousel__text__where {
  font-weight: 600;
  font-size: 3em;
}

.Carousel__text a {
  background: black;
  color: #ced4da;
  text-align: center;
  line-height: 70px;
  border-radius: 5px;
  font-size: 2em;
  -webkit-transition: .5s;
  transition: .5s;
}

.Carousel__text a:hover {
  color: white;
  background: #333333;
}

b {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ced4da;
  background: black;
  position: absolute;
  font-size: 5em;
  height: 1.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

b:last-child {
  right: 0;
}
